main {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 50px;
  background: radial-gradient(circle closest-side, #000 94%, #0000) right/calc(200% - 1em) 100%;
  animation: l24 1s infinite alternate linear;
}

.loader::before {
  content: "Loading...";
  line-height: 1em;
  color: orange;
  background: inherit;
  background-image: radial-gradient(circle closest-side, #fff 94%, #000);
  -webkit-background-clip: text;
  background-clip: text;
}

@keyframes l24 {
  100% {
    background-position: left
  }
}

header {
  width: 100%;
  height: 100px;
  background-color: #333852;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
  font-size: 28px;
}

a {

  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
  color: rgb(255, 166, 0);
  transform: scale(1.1);
}

.active {
  color: rgb(249, 203, 118);
  text-decoration: underline;
}

.active-myclass {
  color: rgb(16, 212, 29);
  text-decoration: underline;
}